* {
    margin: 0;
    padding: 0px;
}

body {
    background-color: lightgray;
}

.header {
    background-color: rgb(68,68,68);
    width: 100vw;
    height: 15vh;
}

.main {
    background-color: white;
    width: 80vw;
    height: 75vh;
    margin: auto;
}


.footer {
    background-color: rgb(34,34,34);
    width: 80vw;
    height: 10vh;
    margin-top:-5px;
    margin: auto;
}

